/* 共通設定 */
* {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.2rem;
}
html {
  touch-action: manipulation;
}
body.fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
li {
  list-style-type: none;
}
h2 {
  font-size: 4rem;
  font-weight: bold;
}
h3 {
  font-size: 2.4rem;
  font-weight: bold;
}
h4 {
  font-size: 1.8rem;
  font-weight: bold;
}
p {
  font-size: 1.2rem;
}
h2.page-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4rem;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}
.header--unpinned {
  -webkit-transform: translateY(-1000%);
  transform: translateY(-1000%);
}
header .radius-menu {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 3.2rem;
  margin: 1.2rem auto 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
header img {
  width: 50%;
}
header h1 img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
header li a {
  font-family: 'Times New Roman', Times, serif;
}
.pc-menu ul {
  display: flex;
}
.pc-menu ul li {
  padding-left: 2rem;
}
.pc-menu ul li a {
  color: white;
  font-size: 1.4rem;
}
.pc-menu ul li a:hover {
  color: rgba(14, 244, 255);
}
footer {
  background-color: black;
  color: white;
}
footer .copyright {
  text-align: center;
  padding: 48px;
}
footer .copyright h5 {
  font-weight: 400;
}


/* =============================================
  Loadingアニメーション
============================================= */
/* !!!burger-css内の.ban-scrollでbodyに制限!!! */
.svgWrap svg {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.svgWrap svg .st0 {
  stroke-dasharray: 450px;
  stroke: #fff;
  stroke-width: 0.6px;
  animation: svgAnime 3s linear forwards;
}
@keyframes svgAnime {
  0% {
    stroke-dashoffset: 450px;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0px;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0px;
    fill: #fff;
    stroke: transparent;
  }
}
.svgWrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #000;
  text-align: center;
}
.svgWrap.done {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1500ms, visibility 1500ms;
}

/* トップ */
.fv-bg {
  background-image: url(../images/fv.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgb(13, 223, 234), rgb(55, 140, 214));
  padding: 18px;
  border-radius: 3.4rem;
  border: none;
  cursor: pointer;
}
.btn img {
  width: 30%;
  min-width: 48px;
  margin: 0 auto;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
.btn:hover {
  background: linear-gradient(rgba(14, 244, 255), rgb(65, 164, 253));
  padding: 2rem;
  transition: background .7s, padding .3s;
}

.top-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
}
.concept {
  border-top: 0.5px solid #999;
  border-bottom: 0.5px solid #999;
  text-align: center;
  background-color: #fff;
  color: #333;
}
.top-text {
  margin: 8rem 4rem;
}
.top-text.res {
  width: 50%;
}
.top-box h2 {
  margin-bottom: 1.4rem;
}
.top-box h3 {
  margin-bottom: 1rem;
}
.top-text-inner {
  width: 100%;
}

/* 選曲ページ */
.attention {
  background: #945;
  display: flex;
  align-items: center;
  justify-content: center;
}
.attention-inner {
  padding: 120px 0;
}
.attention-text {
  text-align: center;
  color: #fff;
}
.attention h2 {
  margin-bottom: 1rem;
}
.attention-text p {
  color: #fff;
  margin-top: 20px;
}
.playlist {
  display: block;
  margin: 3rem auto 0;
  width: 180px;
  height: 50px;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  border: 3px solid #000;
}
.attention-des {
  display: flex;
  gap: 1rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: justify;
}
.attention-des-item {
  padding: 1rem 1.4rem;
  border: 1px solid #000;
  color: #fff;
  border-radius: 3px;
}
.attention-des-item p {
  color: #fff;
  margin-top: 6px;
}

/* ステージ */
.stage-bg {
  background: #333 url(../images/stage-bg.png) no-repeat center / cover;
  height: 100vh;
}
.stage-front {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.stage-maku img {
  position: absolute;
  height: 100%;
  width: auto;
  z-index: 1;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
.stage-maku.left img {
  top: 0;
  left: 0;
}
.stage-maku.right img {
  top: 0;
  right: 0;
}

/* 開幕アニメ */
.ch-master {
  position: absolute;
  width: 160px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  animation: goRabit 8s ease-in-out forwards;
}
.ch-master img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
@keyframes goRabit {
  0% {
    top: 60%;
    left: -20%;
    transform: scale(0.7);
  }
  15% {
    top: 55%;
    left: 42%;
    transform: scale(1.0);
  }
  30% {
    left: 42%;
    transform: scale(1.0);
  }
  65% {
    left: 42%;
    transform: rotateY(0deg);
  }
  70% {
    left: 43%;
    transform: rotateY(90deg);
  }
  75% {
    left: 44%;
    transform: rotateY(180deg);
  }
  100% {
    left: 150%;
    transform: rotateY(180deg);
  }
}
.stage-maku-black img {
  height: 95vh;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
.music-title {
  padding: 84px 0 0;
  text-align: center;
  margin: 0 30px;
}
h3.music-title-txt {
  color: #fff;
  font-size: 3.2rem;
  font-family: serif;
}
.stage-maku-black.done img {
  animation: makuUp 6s linear forwards;
}
.stage-maku-black.none img {
  display: none;
}
@keyframes makuUp {
  0% {
    height: 95vh;
  }
  100% {
    height: 0vh;
  }
}

.ch-anm {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 10%;
  left: 5%;
  right: 100%;
}
.ch-anm img {
  width: auto;
  height: 250px;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
/* バス無し3部混声用 */
.soundMenuInner.no-bs :nth-child(5) {
  display: none;
}
.ch-anm.no-bs :nth-child(4) {
  display: none;
}
.no-bs #ch_icon_p {
  order: -1;
}

/* 登場アニメーションjs */
.in {
  animation: chIn 0.7s ease-out forwards;
}
@keyframes chIn {
  0% {
    right: 100%;
  }
  100% {
    right: 5%;
  }
}

/* 楽曲画面 */
.soundMenu {
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 60px;
  bottom: 12vh;
  left: 10%;
  right: 10%;
  padding: 0 30px;
  border-radius: 3.2rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.soundMenu-2 {
  position: absolute;
  z-index: 2;
  width: 60%;
  height: 60px;
  bottom: 2vh;
  left: 20%;
  right: 20%;
  padding: 0 10px;
  border-radius: 3.2rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#audioSwitch.none,
#pause.none
 {
  display: none;
}
.soundMenu.none,
.soundMenu-2.none {
  display: none;
  visibility: hidden;
}
.soundMenuInner,
.soundMenuInner-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 760px;
}
.score {
  display: flex;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.score img {
  min-width: 80%;
}
.score_button {
  position: absolute;
  display: flex;
  top: 50%;
  left: 10%;
  z-index: 1;
  width: 80%;
  justify-content: space-between;
}
.score_button button {
  display: block;
  padding: 1.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin: 0 12px;
}
.score_button button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: all .1s;
}
.score_button.none {
  display: none;
  visibility: hidden;
}
.ch_icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0.97);
  border: 3px solid #fff;
}
.soundMenuInner-2 button {
  border: 3px solid #f50;
}
.soundMenuInner-2 button:nth-child(3) {
  border: 3px solid #aaa;
}
.ch_icon img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
.reload {
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 3rem;
  background-color: #fff;
}

/* iconクリック時に明度下げる */
.ch_icon.mute img,
.mo.mute img {
  filter: brightness(30%);
}
.ch_icon.none {
  transform: scale(1);
  border: 0;
  transition: transform .1s, border .1s;
}

/* 再生終了時に表示するダイアログ */
#dialogContainer {
  width: 100%;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
}
#dialog {
  width: 250px;
  top: 45vh;
  position: absolute;
  z-index: 10000;
  padding: 30px 20px;
  display: block;
  text-align: center;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 4px #888;
  background-color: #fff;
}
#dialogBg {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* キャラクター紹介 */
.ch-bg {
  background-color: #fff;
}
h4.ch-name {
  text-align: center;
  margin-bottom: 1.2rem;
}
p.ch-des {
  text-align: justify;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}
.ch-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}
.ch-box {
  background-color: #ccc;
  width: calc(100% * 1 / 3 - 6px);
  padding: 4rem 2rem 3rem;
  border-radius: 1rem;
  margin: 0 6px 6px 0;
}

/* space-betweenで真ん中が開く問題を修正 */
.ch-inner::after {
  display: block;
  content: "";
  width: calc(100% * 1 / 3 - 6px);
}

.ch-box:nth-child(3n) {
  margin-right: 0;
}
.ch-img img {
  width: auto;
  height: 180px;
  margin: 0 auto 24px;
}
.ch-text {
  text-align: center;
}

/* お問い合わせ */
.contact-msg {
  text-align: center;
  margin-bottom: 30px;
  color: #ff4756;
  font-weight: bold;
}
.contact-wrap {
  width: 880px;
  margin: 0 auto;
  padding: 120px 0;
}
.contact-table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
}
.contact-label,
.contact-body {
  padding: 20px;
  border: 1px solid #ccc;
}
.contact-label {
  text-align: left;
  width: 30%;
  background-color: #eee;
  font-size: 1.4rem;
}
.contact-body {
  width: 70%;
}
.form-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 1.2rem;
}
.form-select {
  width: 180px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}
.contact-evaluate {
  display: block;
}
.contact-evaluate+contact-evaluate {
  margin-top: 10px;
}
.contact-evaluate-text {
  margin-left: 5px;
  font-size: 1.2rem;
}
.form-textarea {
  width: 100%;
  padding: 10px;
  height: 140px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.2rem;
}
.contact-btn input[type="submit"] {
  display: block;
  background: #333;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 100vh;
  cursor: pointer;
  width: 250px;
  padding: 20px 20px;
  margin: 0 auto;
}
.contact-btn input[type="submit"]:hover {
  background: #ff4756;
  transform: scale(1.1);
  transition: background .2s, transform .2s;
}
.req-txt {
  background-color: #ff4756;
  color: #fff;
  padding: 5px 7px;
  border-radius: 6px;
  font-size: 1.1rem;
  margin-left: 10px;
}
.contact-action {
  width: 880px;
  height: 90vh;
  margin: 0 auto;
  padding: 180px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.toTop {
  text-align: center;
}
.toTop a {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #ff4756;
  color: #fff;
  padding: 12px 16px;
  border-radius: 3rem;
}

/* メディアクエリ */
@media screen and (min-width:1300px) {
  .score {
    width: 65%;
  }
}
@media screen and (max-width:900px) {
  header img {
    margin: 0 auto;
  }
  .pc-menu {
    display: none;
  }
  .button {
    background: linear-gradient(rgb(65, 164, 253), rgba(14, 244, 255));
  }
  .c-box {
    display: block;
    padding: 0;
  }
  .c-item {
    width: 100%;
    margin-bottom: 1.2rem;
  }
  .fv-bg {
    background-image: url(../images/fv-900min.jpg);
  }
  .attention-des {
    display: block;
    max-width: 70%;
  }
  .attention-des-item {
    margin: 24px 0;
    padding: 3rem;
  }
  .stage-maku {
    display: none;
  }
  h3.music-title-txt {
    font-size: 2.4rem;
  }
  .ch-anm {
    bottom: 20%;
    justify-content: space-between;
  }
  .ch-anm img {
    height: 200px;
  }
  .ch-box {
    width: calc(50% - 6px / 2);
  }
  .ch-box:nth-child(3n) {
    margin-right: 6px;
  }
  .ch-box:nth-child(2n) {
    margin-right: 0;
  }
  .contact-wrap {
    width: 90%;
  }
  .contact-label,
  .contact-body {
    border: 1px solid #eee;
    padding: 16px;
    width: 100%;
    display: block;
  }
  .contact-action {
    width: 90%;
  }
}
@media screen and (max-width:730px) {
  .score {
    width: 100%;
  }
  .score img {
    min-width: 100%;
  }
  .score_button {
    width: 100%;
    left: 0%;
  }
  .ch_icon {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width:620px) {
  .ch-anm img {
    height: 150px;
  }
  .ch-box {
    width: 100%;
    margin: 0 0 6px;
  }
  .ch-box:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width:530px) {
  .top-text.res {
    width: 100%;
  }
}
@media screen and (max-width:430px) {
  .ch-anm img {
    height: 120px;
  }
}
@media screen and (max-width:360px) {
  .ch-anm img {
    height: 110px;
  }
}